<!DOCTYPE html>
<html>
<head>
    <title>Add Post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Add a New Post</h1>
    <form method="post">
        <input name="author" placeholder="Author"><br>
        <input name="title" placeholder="Title"><br>
        <textarea name="content" placeholder="Content"></textarea><br>
        <button type="submit">Submit</button>
    </form>
    <a href="{{ url_for('index') }}">Back</a>
</body>
</html>

