<!DOCTYPE html>
<html>
<head>
    <title>Update Post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Update Post</h1>
    <form method="post">
        <input name="author" value="{{ post.author }}"><br>
        <input name="title" value="{{ post.title }}"><br>
        <textarea name="content">{{ post.content }}</textarea><br>
        <button type="submit">Update</button>
    </form>
    <a href="{{ url_for('index') }}">Back</a>
</body>
</html>

